@charset "UTF-8";

/* outra versoes */


@media screen and (min-width:320px) and (max-width:768px) {
    .nav-underline{
        display: block;
    }
    #burguer{
        display: block;
    }
}




@media screen and (min-width:769px) and (max-width:1024px) {
    .nav-underline{
        display: none;
    }
    #burguer{
        display: block;
        width: 40vw;
        cursor: pointer;
        margin-left: 424px;
        font-size: 42px;
    }
}